In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [3]:
data = pd.read_csv('/Users/ram/Desktop/K2DataScience/HR_comma_sep.csv', low_memory = False)
data.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [4]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
type(data)

pandas.core.frame.DataFrame

In [6]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [7]:
data.index = data["satisfaction_level"]
data.mean()

satisfaction_level         0.612834
last_evaluation            0.716102
number_project             3.803054
average_montly_hours     201.050337
time_spend_company         3.498233
Work_accident              0.144610
left                       0.238083
promotion_last_5years      0.021268
dtype: float64

In [8]:
data.median()

satisfaction_level         0.64
last_evaluation            0.72
number_project             4.00
average_montly_hours     200.00
time_spend_company         3.00
Work_accident              0.00
left                       0.00
promotion_last_5years      0.00
dtype: float64

In [50]:
#Question # 1a) What is the probability that a randomly selected employee left the company?

N = len(data)
count_left = 0
for i in data.left:
    if i == 1:
        count_left = count_left + 1

left = count_left/N
print("Probability that a randomly selected employee left the company is ", left)

Probability that a randomly selected employee left the company is  0.2380825388359224

In [51]:
#Question # 1b) What is the probabiity that an employee experienced a work accident

count_acc = 0
for i in data.Work_accident:
    if i == 1:
        count_acc = count_acc + 1
accident = count_acc/N
print("Probability that a randomly selected employee had an accident is ", accident)

Probability that a randomly selected employee had an accident is  0.1446096406427095

In [11]:
#Question 1. c) What is the probability that a randomly selected employee left 
#the company and experienced a work accident?

count_int = 0
for (i,j) in zip(data.left, data.Work_accident):
    if i == 1 and j == 1:
        count_int = count_int + 1      
intersection = count_int/N
print('Employee left and had an accident is ', intersection)

Employee left and had an accident is  0.01126741782785519

In [12]:
#2. Compute the 25th, 50th, and 90th percentiles for the satisfaction level score for 
#all employees that left the company. 

satisfaction = []
for row in data.iterrows():
    if row[1].left == 1:
        satisfaction.append(row[1].satisfaction_level)

p25 = np.percentile(satisfaction, 25)
p50 = np.percentile(satisfaction, 50)
p90 = np.percentile(satisfaction, 90)

print('Satisfaction levels of employees who left the company ')
print('25th percentile is ', p25)
print('50th percentile is ', p50)
print('90th percentile is ', p90)

Satisfaction levels of employees who left the company
25th percentile is  0.13
50th percentile is  0.41
90th percentile is  0.84

In [13]:
#Compare these results to the same percentiles for those that did not leave. 
#What can you say about the results?

satisfaction_a = []
for row in data.iterrows():
    if row[1].left == 0:
        satisfaction_a.append(row[1].satisfaction_level)

p25 = np.percentile(satisfaction_a, 25)
p50 = np.percentile(satisfaction_a, 50)
p90 = np.percentile(satisfaction_a, 90)

print('Satisfaction levels of employees who stayed with the company ')
print('25th percentile is ', p25)
print('50th percentile is ', p50)
print('90th percentile is ', p90)

Satisfaction levels of employees who stayed with the company
25th percentile is  0.54
50th percentile is  0.69
90th percentile is  0.94

Employees who left the company had lower satisfation levels than employees who stayed with the company.

In [14]:
#Question 3. Compute the variance and standard deviation of hours worked.

print('Variance of number of hourse worked is  ', data.average_montly_hours.var())

print('Standard deviation of number of hourse worked is  ', data.average_montly_hours.std())

Variance of number of hourse worked is   2494.313174809979
Standard deviation of number of hourse worked is   49.943099371284305

In [46]:
import statistics
print(statistics.variance(data.average_montly_hours))

2494

In [15]:
#Quistion 4. Compare the variance between the satisfaction levels of employees 
# who left versus those who stayed. Which is larger? What does this mean?

print('Variance of employees who left is  ', np.var(satisfaction))
print('Variance of employees who stayed is  ', np.var(satisfaction_a))

Variance of employees who left is   0.069641351357
Variance of employees who stayed is   0.0471299157918

In [17]:
#Question 5. Compute the mean satisfaction level for each salary category. 
#Comment on your results.

satisfaction_low = []
satisfaction_med = []
satisfaction_hgh = []

for row in data.iterrows():
    if row[1].salary == 'low':
        satisfaction_low.append(row[1].satisfaction_level)
    elif row[1].salary == 'medium':
        satisfaction_med.append(row[1].satisfaction_level)
    elif row[1].salary == 'high':
        satisfaction_hgh.append(row[1].satisfaction_level)
sal_low = np.mean(satisfaction_low)
sal_med = np.mean(satisfaction_med)
sal_hgh = np.mean(satisfaction_hgh)

print('Mean of salary level LOW ', sal_low)
print('Mean of salary level MEDIUM ', sal_med)
print('Mean of salary level HIGH ', sal_hgh)

Mean of salary level LOW  0.600753143794
Mean of salary level MEDIUM  0.621816630469
Mean of salary level HIGH  0.637469684721

The satisfactoinal levels are not corelated to the salary of the employees.

In [34]:
#Question 6. Given an employees salary level (low, medium, or high), 
#calculate the probability that they worked more 
#than two standard deviations of the average monthly hours across all groups. 

std_hrs = data.average_montly_hours.std()
mean_hrs = data.average_montly_hours.mean()
#print(std_hrs) print(std_mean)
two_std = mean_hrs + 2 * std_hrs

avg_hrs = []
for i in data.average_montly_hours:
    if i > two_std:
        avg_hrs.append(i)
count_hrs = len(avg_hrs)
N = len(data)
prob_hours = count_hrs/N
prob_sal = data.salary.value_counts()/N

print('Probability of salary ', prob_sal)

prob_sal_hrs = data[data.average_montly_hours > two_std].salary.value_counts()/count_hrs

#print('Probability of Salary given hours > 2 standard deviations ', prob_sal_hrs)

prob_hrs_sal = (prob_sal_hrs * prob_hours )/prob_sal

print('Probability of  hours > 2 standard deviations given Salary \n',prob_hrs_sal)

Probability of salary  low       0.487766
medium    0.429762
high      0.082472
Name: salary, dtype: float64
Probability of  hours > 2 standard deviations given Salary
 low       0.013532
medium    0.008998
high      0.001617
Name: salary, dtype: float64

In [35]:
#Question # 8

prob_left = len(data[data.left == 1])/ len(data)
prob_sal = data.salary.value_counts()/N
prob_sal_left = data[data.left == 1].salary.value_counts()/ len(data[data.left == 1])

print('Probability of salary given employees range \n',prob_sal_left)

prob_left_sal = (prob_sal_left * prob_left )/prob_sal

print('Probability of employees left given salary range \n',prob_left_sal)

Probability of salary given employees range
 low       0.608233
medium    0.368804
high      0.022963
Name: salary, dtype: float64
Probability of employees left given salary range
 low       0.296884
medium    0.204313
high      0.066289
Name: salary, dtype: float64

In [36]:
#Question 9. What is the odds ratio of an employee with a high salary getting a promotion within the past 
#five years versus a low salary employee? Comment on your results.

promote = data[data.promotion_last_5years == 1].salary.value_counts()/data.salary.value_counts()
not_promote = data[data.promotion_last_5years == 0].salary.value_counts()/data.salary.value_counts()

high = promote['high']/not_promote['high']
low = promote['low']/not_promote['low']

odds = high/low

print('Odds are: ', odds)

Odds are:  6.78891923527

High salary employee is approximately 7 times likely to get a promotion than a low salary employee.

In [47]:
#Question 10. Suppose we were to pull 50 random samples of employee satisfaction levels. 
#What would approximately be the mean of this sample? What would be the mean of, say, 10 sets of random samples? 
#Demonstrate your assertions by writing some python code to do just that.

random_sample = data.sample(50).satisfaction_level
mean_50 = random_sample.mean()
print('Sample mean of Satisfaction Levels of 50 random employees ', mean_50)

for i in range(10):
    sample_set = data.sample(50).satisfaction_level
    mean_10 = sample_set.mean()
    print('Sample mean of Satisfaction Levels of 50 random employees ', mean_10)

Sample mean of Satisfaction Levels of 50 random employees  0.5468
Sample mean of Satisfaction Levels of 50 random employees  0.6632000000000002
Sample mean of Satisfaction Levels of 50 random employees  0.5954
Sample mean of Satisfaction Levels of 50 random employees  0.6397999999999998
Sample mean of Satisfaction Levels of 50 random employees  0.6408
Sample mean of Satisfaction Levels of 50 random employees  0.5934000000000001
Sample mean of Satisfaction Levels of 50 random employees  0.6065999999999999
Sample mean of Satisfaction Levels of 50 random employees  0.6054000000000002
Sample mean of Satisfaction Levels of 50 random employees  0.6406000000000001
Sample mean of Satisfaction Levels of 50 random employees  0.6057999999999999
Sample mean of Satisfaction Levels of 50 random employees  0.49800000000000016