In [8]:
import math
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
data = pd.read_csv('/Users/ram/Downloads/us_births/us_births.csv', low_memory = False)
data.head()
data.dtypes

year             int64
month            int64
date_of_month    int64
day_of_week      int64
births           int64
dtype: object

In [24]:
data_list = open('/Users/ram/Desktop/DataSets/us_births.csv').read().split('\n')
data_list[:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [33]:
def csv_read():
    final_list = []
    file = open('/Users/ram/Desktop/DataSets/us_births.csv').read()
    str_list = file.split("\n")[1:]
    for line in str_list:
        str_fields = line.split(",")
        int_fields = []
        
        for val in str_fields:
            int_fields.append(int(val))
        
        final_list.append(int_fields)
    return final_list
usbirth = csv_read()

In [34]:
usbirth[:15]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498],
 [1994, 1, 11, 2, 11706],
 [1994, 1, 12, 3, 11567],
 [1994, 1, 13, 4, 11212],
 [1994, 1, 14, 5, 11570],
 [1994, 1, 15, 6, 8660]]

In [93]:
def month_births(data):
    birth_per_month = {}
    
    for row in data:
        month = row [1]
        births = row[4]
        
        if month in birth_per_month:
            birth_per_month[month] = birth_per_month[month]+births
        else:
            birth_per_month[month] = births
    return birth_per_month

cdc_month_births=month_births(usbirth)

In [94]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [86]:
def weekly_births(data):
    birth_per_week = {}
    
    for row in data:
        week = row [3]
        births = row[4]
        
        if week in birth_per_week:
            birth_per_week[week] = birth_per_week[week]+births
        else:
            
            birth_per_week[week] = births 
    return birth_per_week

cdc_week_births = weekly_births(usbirth)

In [83]:
cdc_week_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [95]:
def year_births(data):
    birth_per_year = {}
    
    for row in data:
        year = row [0]
        births = row[4]
        
        if year in birth_per_year:
            birth_per_year[year] = birth_per_year[year]+births
        else:
            birth_per_year[year] = births
    return birth_per_year

cdc_year_births=year_births(usbirth)

In [96]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}